# Build and Release Folders
bin/
bin-debug/
bin-release/

dwarfgui.exe
dwarfGUI.watchr
proto/*.proto
#proto/*.pb.go

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
